<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="header-content">{{>header}}
        <img src="/img/About.jpg"></div>

    {{>footer}}
</body>

</html>