<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet"   href="/css/style.css">
<script src="/js/main.js"></script>
</head>

<body>
    {{>header}}
    <p>About Not found</p>

    {{>footer}}
</body>
</html>