h1{
    color: blue;
}

body{
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.header-content{
 margin: 0 auto;
 flex-grow: 1;
 font-family: sans-serif;
 
}

.header-content p{
    margin-top: 50px;
}

footer{
    margin: 0 auto;
}

.header-content a{
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 50px;
}

header {
    margin: 50px 0;
}